.preloader{
	position:absolute;
	width:32px;
	height:32px;
	z-index:5;
	top:-16px;
	left:-16px;
}

.price2{
text-align:right;
background-color:rgba(235,235,255,0.75);
position:absolute;
top:0px;
font-size:1.05em;
color:#D2D2D2;
font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
height:1.2em;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
padding-right:4px;
 border-bottom: 1px solid #2d2b2a;
}

.price2 .subname{
float:left;
margin:1px 2px;
}

.price_box{
    position: relative;
    background-color: #1d1d1d;
    width: 458px;
}

.price_box_area{
    background-color: #363636;
    padding: 8px 6px;
    border-top: 1px solid #2d2b2a;
}



.trade_total{
	float:right;
	/*color:#a6801b;*/
	font-size:1.2em;
	/*height:26px;*/
	margin-bottom:10px;
	font-family: Motiva Sans Light, Arial, Helvetica, sans-serif;
	
}

.trade_total span{
	color:#a6801b;
}

#SIP_options{
	margin:12px 0;
}