#status{
	height:20px;
	font-weight:bold;
	color:blue;
}

.options_cat{
	margin: 20px 10px;
	max-width:900px;
}

.listPP{
	/*list-style-type: none;
    padding: 0;
    */
	margin: 0;
	
}

.PP_apps {
color: #aaa; 
font-weight: bold;
font-size:1.6em;
}

li.provider {
	font-size:16px;
}

.provider span.del,span.Up,span.Down {
	cursor:pointer;
}

.provider:hover span.del:after{
  content:  url('../img/Minus.png');
}

.listPP .provider:not(:last-child):hover span.Down:after{
  content:  url('../img/Down.png');
}

.listPP .provider:not(:first-child):hover span.Up:after{
  content:  url('../img/Up.png');
}